[project]
	description = An akka-cluster ready implementation of the raft consesus alg
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Binh Nguyen (ngbinh)
[access "refs/for/refs/*"]
	read = group user/Binh Nguyen (ngbinh)
	push = group user/Binh Nguyen (ngbinh)
	label-Code-Review = -2..+2 group user/Binh Nguyen (ngbinh)
	label-Verified = -1..+1 group user/Binh Nguyen (ngbinh)
	rebase = group user/Binh Nguyen (ngbinh)
	removeReviewer = group user/Binh Nguyen (ngbinh)
	submit = group user/Binh Nguyen (ngbinh)
[access "refs/heads/*"]
	read = group user/Binh Nguyen (ngbinh)
	create = group user/Binh Nguyen (ngbinh)
	push = +force group user/Binh Nguyen (ngbinh)
	pushMerge = group user/Binh Nguyen (ngbinh)
[access "refs/tags/*"]
	push = +force group user/Binh Nguyen (ngbinh)
	pushTag = group user/Binh Nguyen (ngbinh)
	pushSignedTag = group user/Binh Nguyen (ngbinh)
